pd-amount {

    div[amount-display] {
        color: $text-color;
        text-align: center;
        padding-bottom: 16px;
        font-weight: lighter;
    
        .title {
            font-size: 30px;
        }
    
        .amount {
            font-size: 40px;
        }
    
        .note {
            font-size: 15px;
        }

        button {
            background-color: transparent;
            padding: 0;
    
            > bea-icon {
                color: $text-color;
                font-size: 1.1em;
            }
        }
    }

}