page-mixed-chart {

    .legendList {
        display: table;
    }

    .legendItem {
        width: 50%;
        display: inline-table;
        
        .legendTitle {
            display: inherit;
            padding-left: 10px;
            height: 100%;
        }
    }

    button.benchmark {
        color: $text-color;
        border-color: $text-color;
        font-size: 12px;
        padding: 0 1.1em;
    }

}
