<!--
  Generated template for the MixedChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar class="header">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Protfolio</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="background" padding>

  <div amount-display>
    <div class="title">AUM (HKD)</div>
    <div class="amount">1,635,667,494.00</div>
    <div class="note">Date and conversion rates as of 31 May 2018</div>
  </div>

  <canvas #areaChartCanvas [hidden]="selectedTab == 'nav'"></canvas>

  <canvas #barChartCanvas [hidden]="selectedTab == 'asset'"></canvas>
  
  <div button-row>
    <button ion-button round outline class="selectButton" [class.selected]="selectedTab == 'asset'" (click)="changeTab('asset')">
      Asset Allocation
    </button>
    <button ion-button round outline class="selectButton" [class.selected]="selectedTab == 'nav'" (click)="changeTab('nav')">
      Net Asset Value
    </button>
  </div>

  <div listContact>
    <ng-container *ngIf="selectedTab == 'asset'">
      <bea-list-item type="assetHistory"
                    [header]="header"
                    [data]="assetSelectedData">
      </bea-list-item>
    </ng-container>

    <ng-container *ngIf="selectedTab == 'nav'">
        <bea-list-item type="navRecord"
                      [header]="header"
                      [data]="navSelectedData">
        </bea-list-item>
    </ng-container>

    <div view-detail>
      <button ion-button round (click)="viewDetail()">View Details</button>
    </div>

  </div>

</ion-content>
