<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <bea-icon name="menu" aria-hidden="true"></bea-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items">
      <!-- <canvas #pointCanvas width="20" height="20"></canvas> -->
      <legend-point [type]="item.type"></legend-point>
      <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
      {{item.title}}
      <!-- <div class="item-note" item-end>
        {{item.note}}
      </div> -->
    </button>
  </ion-list>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
