page-portfolio-holding {

    ion-header {
        div[header-content] {
            min-height: 100px;
            padding: 16px;
            color: $text-color;
            text-align: center;

            click-popup {
                button {
                    background-color: rgb(45, 52, 75) !important;
                    margin-bottom: 16px;
                }
            }

            .title {
                font-weight: 100;
                font-size: 18px;
            }

            .value {
                font-size: 30px;

                .ccy {
                    height: 100%;
                    font-size: 15px;
                }
            }

            .twoColCenter {
                font-size: 20px;
                padding-top: 16px;
                                
                .line {
                    border-left-width: 2px !important; 
                    border-left-style: solid;
                }
            }
        }
    }

    ion-tabs {
        .tabbar {
            background: transparent !important;

            .tab-button {
                color: rgb(129, 132, 161) !important;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-image-slice: 1;

                &[aria-selected=true] {
                    color: $text-color !important;
                    border-image: linear-gradient(90deg, rgb(129, 132, 161), white, rgb(129, 132, 161));
                }
            }
        }
    }

}
