page-portfolio-holding {

    ion-header {
        div[header-content] {
            min-height: 100px;
            padding: 16px;
            color: $text-color;
            text-align: center;

            click-popup {
                button {
                    background-color: rgb(49, 56, 79) !important;
                    margin-bottom: 16px;
                }
            }

            .title {
                font-weight: 100;
                font-size: 18px;
            }

            .value {
                font-size: 30px;

                .ccy {
                    height: 100%;
                    font-size: 15px;
                }
            }

            .twoColCenter {
                font-size: 20px;
                padding-top: 16px;
                                
                .line {
                    border-left-width: 2px !important; 
                    border-left-style: solid;
                }
            }
        }
    }

    @include tab-page-transparent-background;

    @include tab-tabs;

    .scroll-content {
        padding-top: 0px !important;
    }
    
}
