$themeTypes: default vip;
$contentStyles: darker lighter highlight black dark-gray gray light-gray white;
$buttonStyles: primary secondary dark light super-light inverse-primary inverse-light keypad-key black dark-gray gray light-gray white;

@function compontent-color($colorMap, $name) {
    @return map-get($colorMap, $name);
} 

@function background-color($theme-map, $name) {
    $background-color: compontent-color($theme-map, background);
    @return map-get($background-color, $name);
} 


@for $themeId from 1 through length($bea-colors) {
    $theme-map: map-get($bea-colors, theme-#{$themeId});

    .app-root {
        .bea-pb-theme-#{$themeId} {

            &.background {
                background-image: linear-gradient(30deg, 
                    background-color($theme-map, darker),
                    background-color($theme-map, dark), 
                    background-color($theme-map, light), 
                    background-color($theme-map, lighter)) !important;
            }
            
            div[listContent] {
                background: compontent-color($theme-map, content-background);
                margin: 0px -16px -16px -16px;
            }

            pb-list-item {
                ion-item.itemList, ion-item.nav-record {
                    background-color: compontent-color($theme-map, list-item-background);
                }
            }

            pb-expand-item.item-wrapper {
                .info-item {
                    background-color: compontent-color($theme-map, list-item-background);
                }

                .detail-list ion-item {
                    background-color: compontent-color($theme-map, list-item-background);
                }
            }

            //page-portfolio-overview
            .button-container > div {
                background-color: compontent-color($theme-map, list-item-background);
            }

            page-asset-history, page-holding-list {
                ion-content {
                    div.scroll-content {
                        background-color: compontent-color($theme-map, content-background);
                    }
                }
            }

            page-holding-list {
                ion-list:not([pb-list]) {
                    background-color: compontent-color($theme-map, list-item-background);
                }
            }

        }
    }
}
