$themeTypes: default vip;
$contentStyles: darker lighter highlight black dark-gray gray light-gray white;
$buttonStyles: primary secondary dark light super-light inverse-primary inverse-light keypad-key black dark-gray gray light-gray white;

@function compontent-color($colorMap, $name) {
    @return map-get($colorMap, $name);
} 

@function background-color($theme-map, $name) {
    $background-color: compontent-color($theme-map, background);
    @return map-get($background-color, $name);
} 


@for $themeId from 1 through length($bea-colors) {
    $theme-map: map-get($bea-colors, theme-#{$themeId});

    .app-root {
        .bea-pb-theme-#{$themeId} {

            &.background {
                background-image: linear-gradient(30deg, 
                    background-color($theme-map, darker),
                    background-color($theme-map, dark), 
                    background-color($theme-map, light), 
                    background-color($theme-map, lighter)) !important;
            }
            
            div[listContact] {
                background: compontent-color($theme-map, list-background);
                margin: 0px -16px -16px -16px;
            }

            
        }
    }
}
