@mixin icon-button {
    .button {
        margin: 0;
        vertical-align: baseline;

        .bea-icon {
            @include icon;
        }
    }
}

@mixin icon {
    color: red;
    font-size: 1.8rem;
    height: 1em;
}

@mixin where($target, $condition) {
    @at-root #{selector-replace(&, $target, $target + $condition)} {
        @content;
    }
}

@mixin flex-row($h: unset, $v: unset, $wrap: "") {
    display: flex;
    flex-direction: row;
    justify-content: $h;
    align-items: $v;

    @if $wrap != "" {
        flex-wrap: $wrap;
    }

    //@extend flex;
}

// BEA Icons Font
@font-face {
    font-family: 'BEA';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/BEA.eot');
    src: url('../assets/fonts/BEA.eot#iefix') format('embedded-opentype'),
    url('../assets/fonts/BEA.ttf') format('truetype'),
    url('../assets/fonts/BEA.woff') format('woff'),
    url('../assets/fonts/BEA.svg#BEA') format('svg');
}