$text-color : rgb(223, 217, 217);

//$list-item-background : rgb(45, 50, 75);

//$button-color-blue : rgb(59, 94, 194);

$border-radius: 5px;

$legend-point-size: 15px;

ion-navbar.header {
    > div.toolbar-background {
        background: transparent;
        border: 0px;
    }

    ion-title {
        > div.toolbar-title {
            color: $text-color !important;
            text-transform: uppercase;
        }
    }

    button[ion-button] {
        color: $text-color !important;
    }
    
}

div[listContent] {
    margin: 0px -16px -16px -16px;
}

div[view-detail] {
    text-align: center;
    padding-bottom: 16px;

    button {
        width: 50%;
    }
}

div[button-row] {
    display: flex;
    padding: 16px 0;

    button {
        width: 50%;

        &.activated {
            background: transparent;
        }

    }
}

ion-list[pb-list] {
    padding: 16px;
    margin: 0 !important;
}

@mixin tab-page-transparent-background {
    ion-content {
        background: transparent !important;
        div ion-tab {
            div.nav-decor {
                background: transparent !important;
            }
        }
    }
}

ion-tabs {
    .tabbar {
        background: transparent !important;

        .tab-button {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-image-slice: 1 !important;
        }
    }
}

@mixin top-border-radius {
    border-radius: $border-radius $border-radius 0 0;
}

@mixin bottom-border-radius {
    border-radius: 0 0 $border-radius $border-radius;
}

@mixin detail-header {
    ion-header {
        div[header-content] {
            min-height: 120px;
            padding: 16px;
            font-size: 30px;
            color: $text-color;
        }
    }

    div[listContent] {
        margin-top: -16px !important;
    }
}