// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

$bea-colors: (
  theme-1: (
    background : (
      lighter: rgb(48, 65, 113),
      light: #3D4167,
      dark: #191921,
      darker: rgb(33, 33, 39)
    ),
    tab: (
      base: rgb(129, 132, 161),
      light: rgb(223, 217, 217)
    ),
    click-popup-button: rgb(49, 56, 79),
    list-item-background : rgb(45, 50, 75),
    content-background: rgb(35, 39, 64),
    button: rgb(71, 94, 200),
    text: rgb(255, 255, 255)
  ),
  theme-2: (
    background : (
      lighter: rgb(66, 67, 78),
      light: rgb(52, 59, 82),
      dark: rgb(41, 42, 49),
      darker: rgb(33, 33, 35)
    ),
    tab: (
      base: rgb(105, 91, 98),
      light: rgb(223, 217, 217)
    ),
    click-popup-button: rgb(41, 42, 49),
    list-item-background : rgb(46, 46, 51),
    content-background: rgb(34, 34, 41),
    button: rgb(19, 57, 163),
    text: rgb(255, 255, 255)
  ),
  theme-3: (
    background : (
      lighter: rgb(60, 67, 97),
      light:  rgb(47, 51, 73),
      dark: rgb(39, 41, 54),
      darker: rgb(33, 33, 38)
    ),
    tab: (
      base: rgb(85, 112, 86),
      light: rgb(223, 217, 217)
    ),
    click-popup-button: rgb(39, 41, 54),
    list-item-background : rgb(45, 50, 75),
    content-background: rgb(35, 39, 64),
    button: rgb(23, 93, 139),
    text: rgb(255, 255, 255)
  )
);


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import './bea-pb-theme';
@import './global/font';
@import "./global.scss";
@import "./style";