<ion-header>
  <ion-navbar class="header">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>File Test</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <!-- <input type="file" name="docFile" (change)="test()"
    [(ngModel)]="uploadDocFile" #docFile="ngModel"/>

    <button (click)="getFile()">test</button> -->
    
    Select File Test
    <div class="image-block" (click)="getFile3()">
      <img [src]="uploadDocFile" *ngIf="uploadDocFile">
    </div>

    Camera Test
    <div class="image-block" (click)="getFile2()">
      <img [src]="uploadDocFile2" *ngIf="uploadDocFile2">
    </div>


    
</ion-content>
