page-my-portfolio {

    ion-tabs {
        .tabbar {
            background: transparent !important;

            .tab-button {
                color: rgb(129, 132, 161) !important;

                &[aria-selected=true] {
                    color: $text-color !important;
                }
            }
        }
    }

}
