.popup-content-v2 {
  @media (min-height: 500px) {
    ion-backdrop {
      opacity: 0.3 !important;
      display: block;
      visibility: visible !important;
      width:100%;
      height:100%;
      left: 0;
      top: 0;
      position: absolute;
    }
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay;

  display: flex;

  align-items: center;
  justify-content: center;

  contain: strict;
  .modal-wrapper {
    &,
    .ion-page,
    .ion-page .content,
    .ion-page .content .scroll-content {
      contain: content;
      position: relative;
      top: auto;
      left: auto;
      border-radius: 20px;
    }

    z-index: $z-index-overlay-wrapper;
    display: flex;
    overflow: hidden;

    flex-direction: column;

    min-width: $alert-min-width;
    max-height: $alert-max-height;

    opacity: 0;

    height: auto;
    max-width: $alert-md-max-width;
    border-radius: $alert-md-border-radius;
    background-color: $alert-md-background-color;
    box-shadow: $alert-md-box-shadow;

    .ion-page .content {
      background-color: color($colors, light);
    }

    ion-list-header {
      background-color: #fff !important;
      ion-label {
        text-transform: none;
      }
    }

    .ion-backdrop {
      opacity: 0.3 !important;
      display: block;
      visibility: visible !important;
      // width:100%;
      // height:100%;
      // left: 0;
      // top: 0;
      // position: absolute;
    }
  }



  ion-scroll {
    white-space: nowrap;
    height: 80vh;

    .scroll-content{
      // contain: content;
      // position: relative;
      margin: 0px;
      padding: 0px;
      button {
        padding-left: 0px;
        .input-wrapper {
          padding-left: 16px;
        }
      }
    }
  }

  .popup-content-scroll {
    min-height: 20vh;
    max-height: 65vh; 
    overflow-y: auto;
    button{
      padding-left: 0px;
      .item-inner{
        padding-left: 16px;
      }
    }
  }

  button.item {
    ion-label.label {
      white-space: normal;
    }
  }
}