<ion-list pb-list>
    <ion-item class="header" *ngIf="header">
        <div>{{ header.left }}</div>
        <div item-end>{{ header.right }}</div>
    </ion-item>

    <!-- HoldingType - Amount -->
    <ng-container *ngIf="type == 'overview'">
        <ion-item class="itemList" *ngFor="let data of dataList" (click)="goToPortfolioHolding(data.type)">
            <legend-point [type]="data.type"></legend-point>
            <div class="title">{{ data.title }}</div>
            <div class="amount" item-end>
                HKD {{ data.amount | beaNumber }}
                <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </div>
        </ion-item>
    </ng-container>

    <!-- HoldingType - Percentage -->
    <ng-container *ngIf="type == 'assetHistory'">
        <ion-item class="itemList" *ngFor="let data of dataList">
            <legend-point [type]="data.type"></legend-point>
            <div class="title">{{ data.title }}</div>
            <div class="notIconRight" item-end>
                {{ data.percentage | beaNumber }}%
            </div>
        </ion-item>
    </ng-container>

    <!-- CCY - Amount -->
    <ng-container *ngIf="type == 'currency'">
        <ion-item class="itemList" *ngFor="let data of dataList">
            <div class="notIconLeft">{{ data.ccy }}</div>
            <div class="notIconRight" item-end>
                HKD {{ data.amount | beaNumber }}
            </div>
        </ion-item>
    </ng-container>

    <!-- Performance - Percentage -->
    <ng-container *ngIf="type == 'performance'">
        <ion-item class="itemList" *ngFor="let data of dataList">
            <div class="notIconLeft">{{ data.type }}</div>
            <div class="notIconRight" item-end>
                HKD {{ data.amount | beaNumber }}
            </div>
        </ion-item>
    </ng-container>

    <!-- Asset Allocation - View Details -->
    <ng-container *ngIf="type == 'assetAllocationDetail'">
        <ng-container *ngFor="let data of dataList">
            <pb-expand-item type="assetAllocation" [data]="data"></pb-expand-item>
        </ng-container>
    </ng-container>

    <!-- Net Asset Value - View Details -->
    <ng-container *ngIf="type == 'navDetail'">
        <ng-container *ngFor="let data of dataList">
            <pb-expand-item type="nav" [data]="data"></pb-expand-item>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="type == 'navRecord'">
        <ng-container *ngFor="let data of dataList">
            <ion-list nav-record>
                <ion-item role="text" class="nav-record border">
                    <div bea-item-title class="nav">
                        <legend-point legendType="" color="white"></legend-point>
                        <div class="padding">Net Asset Value</div>
                    </div>
                    <div bea-item-amount>HKD {{ data.netAssetValue | beaNumber }}</div>
                </ion-item>
                <ion-item role="text" class="nav-record legendPadding">
                    <div bea-item-title>Cash & Deposit</div>
                    <div bea-item-amount>HKD {{ data.cashAndDeposit | beaNumber }}</div>
                </ion-item>
                <ion-item role="text" class="nav-record legendPadding">
                    <div bea-item-title>Investment</div>
                    <div bea-item-amount>HKD {{ data.investment | beaNumber }}</div>
                </ion-item>
                <ion-item role="text" class="nav-record legendPadding">
                    <div bea-item-title>Loan</div>
                    <div bea-item-amount>HKD {{ data.loan | beaNumber }}</div>
                </ion-item>
            </ion-list>
        </ng-container>
    </ng-container>

</ion-list>