pb-list-item {

    ion-item.header {
        color: $text-color;
        font-weight: bold;
        background: transparent;
        border: 0 !important;
        font-size: 14px;
        min-height: 0px;
        padding-bottom: 10px;

        > .item-inner {
            border: 0 !important;

            .input-wrapper {
                ion-label {
                    margin: 0;
                }
            }
            
            div[item-end] {
                margin: 0;
            }
        }
    }

    ion-item.itemList {
        //background: rgb(45, 50, 75);
        color: $text-color;
        height: 70px;
        border: 0 !important;
        margin: 10px 0;
        font-size: 14px;
        border-radius: $border-radius;

        > .item-inner {
            border: 0 !important;
            vertical-align: middle;

            ion-label {
                display: contents;
            }
        }

        .title {
            padding-left: 10px;
            white-space: normal;
        }

        .amount {
            display: contents;
            font-weight: bold;

            > ion-icon {
                padding-left: 10px;
            }
        }

        .notIconLeft {
            padding-left: 0px;
        }

        .notIconRight {
            font-weight: bold;
            padding-left: 16px;
        }
    }

    ion-item.nav-record {
        padding-right: 15px;
        padding-top: 0 !important;
        border: 0 !important;
        min-height: 0;

        //background-color: $list-item-background;
        color: $text-color;

        &:first-child {
            @include top-border-radius;
        }

        &:last-child {
            @include bottom-border-radius;
        }
        
        &.border {
            border-bottom: 1px solid $text-color !important;
        }

        &.legendPadding {
            padding-left: 26px + $legend-point-size;
        }

        & > .item-inner {
            border: 0 !important;
        }
        
        & > .item-inner > .input-wrapper {
            
            > ion-label {
                @include flex-row($v: center);
                white-space: normal;
                margin: 10px 0 !important;
                font-weight: normal;
                height: 100%;
                font-size: 14px;

                [bea-item-title] {
                    flex: 50% 0 0;
                    font-weight: lighter;
                    display: flex;

                    &.nav {
                        font-weight: normal;
                    }

                    & .padding {
                        padding-left: 10px;
                        margin: auto 0;
                    }
                }

                [bea-item-amount] {
                    flex: 50% 0 0;
                    text-align: right;
                    font-weight: bold;
                }
            }
        }
    }

}