page-performance {

    .legendList {
        display: table;
        padding-bottom: 16px;
    }

    .legendItem {
        width: 50%;
        display: inline-table;
        
        .legendTitle {
            display: inherit;
            padding-left: 10px;
            height: 100%;
        }
    }

    button.benchmark {
        font-size: 12px;
        padding: 0 1.1em;
    }

    div[button-row].range {
        display: block;
        text-align: center;

        button {
            width: auto;
            font-size: 12px;
            padding: 0 1.1em;
            margin: 0;
        }
    }

}
