page-performance {

    .legendList {
        display: table;
        padding-bottom: 16px;
        width: 100%;
    }

    .legendItem {
        width: 50%;
        display: inline-flex;
        
        .legendTitle {
            display: inherit;
            padding-left: 10px;
            height: 100%;
        }
    }

    div[button-row].range {
        display: block;
        text-align: center;

        button {
            width: auto;
            font-size: 12px;
            padding: 0 1.1em;
            margin: 0;
        }
    }

    div.benchmarkTitle {
        padding: 16px 0;

        div[button-row] {
            padding: 0;

            button.benchmark {
                font-size: 12px;
                padding: 0 1.1em;
            }
        }
    }

}
