<ion-content padding>

    <pd-amount [info]="totalAmountInfo"></pd-amount>

    <div button-row class="range">
        <button ion-button outline [class.selected]="selectedRange == 'month'" (click)="changeDateRange('month')">
            Past 6 months
        </button>
        <button ion-button outline [class.selected]="selectedRange == 'year'" (click)="changeDateRange('year')">
            {{ thisYear }}
        </button>
    </div>

    <canvas #mixedChartCanvas></canvas>
    
    <div class="benchmarkTitle">
        <div button-row *ngFor="let titleGroup of benchmarkTitleList">
            <ng-container *ngFor="let title of titleGroup">
                <button ion-button round outline class="benchmark" [class.selected]="selectedIndex == title.id" (click)="changeBenchmark(title.id)">
                    {{ title.title }}
                </button>
            </ng-container>
        </div>
    </div>

    <div class="legendList">
        <ng-container *ngFor="let legend of legendList">
            <div class="legendItem">
                <legend-point [legendType]="legend.type" [color]="legend.color"></legend-point>
                <div class="legendTitle">{{ legend.name }}</div>
            </div>
        </ng-container>
    </div>

    <div listContent>
        <pb-list-item type="performance" [header]="beaListHeader" [data]="dataList">
        </pb-list-item>
    </div>

</ion-content>